<div class="flex-wrapper-centre margin-bottom-48">
            <div data-gsap="txt.15" class="heading-detail-small margin-bottom-12 text-color-gray-500">{{ section.settings.gallery_tagline }}</div>
            <h2 data-gsap="txt.3" class="heading-98">{{ section.settings.gallery_heading | newline_to_br }}</h2>
          </div>