<section class="section-10">
        <div class="w-layout-blockcontainer container-11 w-container"><img src="{{ 'ai-060a8726-enhanced-nr-edit-optimized-3.avif' | asset_url }}" loading="lazy" width="659" alt="" class="image-7"></div>
      </section>