{% capture listItems %}
{% for item in collections[settings.collection_2_home].products limit: settings.collection_2_home_limit %}
<div role="listitem" class="w-dyn-item">
                <div class="w-layout-grid content-grid-two-columns">
                  <div class="content-wrapper">
                    <div class="wrap-v-regular">
                      <div class="wrap-v-x-small">
                        <h3 class="h6-heading-2" fb-tooltip-position="top" fb-tooltip-animation="shift-away" fb-tooltip-message="Best Seller" fb-tooltip-theme="light" fb-tooltip-show-delay="500" option:text="Bellamere H3" fb-tooltip="true" fb-tooltip-trigger="hover">{{ item.title }}</h3>
                        <div option:text="Bellamere feature tagline" class="overline-regular text-weight-medium">Sliding Door</div>
                      </div>
                      <p option:textarea="Bellamere p" class="subheading-small-3">The Bellamere by Mark Karen’s is a luxurious pet crate with a sliding barn-style door, ideal for crate-trained pets. Combining elegance with function, it provides a secure and cozy space where your pet can relax and feel safe.</p>
                    </div>
                    <div class="content-button-wrapper">
                      <a option:url="Bellamere url" data-w-id="0d53d520-0319-fe59-3c5a-aa11242bc972" href="{{ item.url }}" class="button-hover-50 solid is-small is-black w-inline-block">
                        <div class="button-text-50 is-small">Design your own</div>
                        <div class="button-dot-50">
                          <div class="dot-50 is-small"></div>
                          <div class="button-icon-50 w-embed"><svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 448 512"><!-- ! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc.  -->
                              <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" fill="currentColor"></path>
                            </svg></div>
                        </div>
                      </a>
                      <div option:text="Bellamere extra p" class="paragraph-small-7">No assembly required.</div>
                    </div>
                  </div>
                  <div id="w-node-c477a1b8-7ba6-4405-332d-f7bc40a34cd3-40a34cc2" class="content-image">
                    <div id="w-node-c477a1b8-7ba6-4405-332d-f7bc40a34cd4-40a34cc2" class="content-image-large background-brown-100"><img option:image="Bellamere Image" alt="" loading="lazy" src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" class="image-full-3"></div>
                  </div>
                </div>
              </div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="w-dyn-list" udy-collection="product">
            {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
              {{ listItems }}
            </div>{%- endunless -%}
            {%- if items_length == 0 -%}<div class="w-dyn-empty">
              <div>No items found.</div>
            </div>{%- endif -%}
          </div>