<div class="product-extra-info-block">
                <a href="https://account.markkarens.com" class="subheading-large">{{ 'tn55135a8e' | t }}</a>
                <div class="paragraph-regular-2">{{ 't7eec9909' | t }}<span class="text-red-500">{{ 'tn45334f2f' | t }}</span>{{ 't53ef4675' | t }}</div>
              </div>