<div class="product-list-wrapper w-dyn-list" udy-collection="product">
          {%- unless items_length == 0 -%}<div data-w-id="82a98340-a579-4495-2bcc-9f08720d2756" role="list" class="product-grid w-dyn-items">
            {{ listItems }}
          </div>{%- endunless -%}
          {%- if items_length == 0 -%}<div class="w-dyn-empty">
            <div>{{ 't3d503d2b' | t }}</div>
          </div>{%- endif -%}
        </div>