<div data-delay="0" data-hover="false" id="w-node-_73e6e705-fba8-5f8c-2246-bbe6d8f8309e-d8f8309e" data-w-id="73e6e705-fba8-5f8c-2246-bbe6d8f8309e" class="faq w-dropdown">
                  <div class="faq-toggle w-dropdown-toggle">
                    <div class="faq-title-wrapper">
                      <div class="subheading-regular">{{ 'tn4b288ab1' | t }}</div>
                      <div class="faq-arrow w-embed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M12 15.705L18 9.70496L16.59 8.29496L12 12.875L7.41 8.29496L6 9.70496L12 15.705Z" fill="currentColor"></path>
                        </svg></div>
                    </div>
                  </div>
                  <nav class="faq-content w-dropdown-list">
                    <div class="faq-divider"></div>
                    <div class="faq-tab">
                      <p class="paragraph-regular-2">{{ 't45eb12ad' | t }}</p>
                    </div>
                  </nav>
                </div>