{% capture listItems %}
{% paginate blogs['stain-options'].articles by 999 %}
{%- assign allItems = blogs['stain-options'].articles -%}{%- assign allItems = allItems | sort: 'title' -%}
{%- for item in allItems  -%}
                <div role="listitem" class="w-dyn-item">
                        <div class="wood-component-item">
                          <div data-w-id="d8672f83-fd78-1a8b-8a3f-d4c12b7820ac" class="image-wrapper-2 wood"><img width="240" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0) ;background-image: url('{{item.image | img_url: 'master'}}')" src="{{ item.image | img_url: 'master' }}" loading="lazy" class="image-fill">
                            <div style="display:block;-webkit-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="image-overlay"></div>
                          </div>
                          <div class="wood-component-content">
                            <div class="wood-component-title">
                              <h4 class="stain-heading">{{ item.title }}</h4>
                            </div>
                            <div class="wood-component-text"></div>
                          </div>
                        </div>
                      </div>
{%- endfor -%}
{% endpaginate %}
{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="w-dyn-list" udy-collection="stain-options">
                    {%- unless items_length == 0 -%}<div role="list" class="w-dyn-items">
                      {{ listItems }}
                    </div>{%- endunless -%}
                    {%- if items_length == 0 -%}<div class="w-dyn-empty">
                      <div>No items found.</div>
                    </div>{%- endif -%}
                  </div>