
        <div class="main-container">
          <div class="w-layout-grid about-header-wrapper">
            <h1 id="w-node-d0fac137-535b-bce3-af92-77dd6ba27c6f-6ba27c6c" data-w-id="d0fac137-535b-bce3-af92-77dd6ba27c6f" class="heading-23">{{ 'tn5c05b2e2' | t }}</h1>
            <div id="w-node-d0fac137-535b-bce3-af92-77dd6ba27c71-6ba27c6c" class="about-us-content-container"></div>
          </div>
          <div data-w-id="d0fac137-535b-bce3-af92-77dd6ba27c89" class="w-layout-blockcontainer about-image-wrap w-container">
            <p data-gsap="par.3" class="body-text-n-reg">{{ section.settings.about_p1 | newline_to_br }}</p>
          </div>
        </div>
      

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","about-header-section");</script>
        
{% schema %}
{
  "name": "About Header Section",
  "tag": "div",
  "class": "about-header-section",
  "settings": [
    {
      "type": "richtext",
      "id": "about_p1",
      "label": "about p1"
    }
  ]
}
{% endschema %}