
                <div class="product-feature-card">
                  <div>
                    <div class="subheading-regular">{{ section.settings.feature_1 }}</div>
                  </div>
                </div>
                <div class="product-feature-card">
                  <div>
                    <div class="subheading-regular">{{ section.settings.feature_2 }}</div>
                  </div>
                </div>
              

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","product-feature-wrapper");</script>
        
{% schema %}
{
  "name": "Product Feature",
  "tag": "div",
  "class": "product-feature-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "feature_1",
      "label": "Feature 1",
      "default": "Customizable"
    },
    {
      "type": "text",
      "id": "feature_2",
      "label": "Feature 2",
      "default": "Made to Order"
    }
  ]
}
{% endschema %}