
                {%- if section.settings.selling_point_1_showhide -%}<div class="product-info-block _2nd-info-block">
                  <div class="sizing-grow">
                    <div class="subheading-small">{{ section.settings.selling_point_text_1 }}</div>
                    <div class="caption-regular">{{ section.settings.selling_point_subtext_1 }}</div>
                  </div>
                  <a href="#" class="product-close-button w-inline-block"></a>
                </div>{%- endif -%}
                {%- if section.settings.selling_point_2_showhide -%}<div class="product-info-block _2nd-info-block">
                  <div class="sizing-grow">
                    <div class="subheading-small">{{ section.settings.selling_point_text_2 }}</div>
                    <div class="caption-regular">{{ section.settings.selling_point_subtext_2 }}</div>
                  </div>
                  <a href="#" class="product-close-button w-inline-block"></a>
                </div>{%- endif -%}
              

<script>var currentSection = document.currentScript.closest('.shopify-section');currentSection.setAttribute("class","div-block-29");</script>
        
{% schema %}
{
  "name": "Selling Points 1",
  "tag": "div",
  "class": "div-block-29",
  "settings": [
    {
      "type": "text",
      "id": "selling_point_text_1",
      "label": "selling point text 1",
      "default": "Local Delivery Available"
    },
    {
      "type": "text",
      "id": "selling_point_subtext_1",
      "label": "selling point subtext 1",
      "default": "To London & Surrounding Area"
    },
    {
      "type": "text",
      "id": "selling_point_text_2",
      "label": "selling point text 2",
      "default": "3-4 week turn around"
    },
    {
      "type": "text",
      "id": "selling_point_subtext_2",
      "label": "selling point subtext 2",
      "default": "*Depending on customizations"
    },
    {
      "type": "checkbox",
      "id": "selling_point_1_showhide",
      "label": "Selling point 1 show/hide",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "selling_point_2_showhide",
      "label": "Selling point 2 show/hide",
      "default": true
    }
  ]
}
{% endschema %}